@import "../node_modules/bootstrap/scss/bootstrap";

img {
    position: relative;
    object-fit: contain;
    width: 100%;
}



.card, .player {
    transition: .1s;
    cursor: pointer;
}

.card:hover, .player:hover {
    box-shadow: 0 0 .5rem black;
}

.card {
    animation: slide-in .7s ease;
}

@keyframes slide-in {
    0% {
        transform: translateX(-75vw);
    }
    100% {
        transform: translateX(0vw);
    }
}